

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#main {
  margin-top: 70px;
}

body {
    font-family: "EB Garamond", serif;
    border-bottom: 10px solid #ff0090;
    background-color: azure;
  }

p, h4, h5, h6, ul {
    margin: 15px;
    color: black;
    list-style-type: none;
}

h1 {
  margin: 15px;
  color: #c50070;
}

h2 {
    margin: 15px;
    color:#ff0090;
  }

h3 {
    margin: 15px;
    color: #c50070;
  }
  


.works img {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

a:link {
    color: darkcyan;
    text-decoration: none;
  }

a:visited {
    color: #34364b;
  }
  
a:hover {
    color: #57c9a8;
  }
  
a:active {
    color: #ff0090;
  }

  #navbar {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0;
    background-color: azure;
    border-bottom: 10px solid #ff0090; 
    border-top: 10px solid #ff0090;
    display: inline-block;
    position: fixed;
    top: 0;
    width: 100%;
  }

#navbar li {
    margin-bottom: 10px;
    list-style-type: none;
    float: right;
  }

  #navbar img {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
  }

#navbar li a {
    display: grid;
    padding-inline: 10px;
    font-weight: bold;
    color: darkcyan;
  }

#navbar li a:hover {
    color: #ff0090;
  }

.logo img{
   display: grid;
}




#main {
  background-color: #fdebff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#about {
  background-color: #fdff82;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}


#education {
  background-color: azure;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 50vh;
}

#hobby {
  background-color: azure;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 50vh;
}

#works {
  background-color: #f6eaff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

#contacts {
  background-color: azure;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 50vh;
}
